@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(#2887e3 50%, #16191e 50%);
}